
*{
        box-sizing: border-box;
}


body{
    font-size: 1rem;
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "Space Grotesk";
    
}

 @media(min-width:750px){
.main-container{
   background-image: url(/images/bg-main-desktop.png); 
  min-height: 100vh;
  background-repeat: no-repeat;
   
}
.flex{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 12rem;
   align-items: center;
   
   
}

}
 .frontCard{ 
    position: relative;
    transform: translate(-100px);
    left: 11rem; 
    top: 5rem;
} 
.logo{
    position: relative;
    width: 5rem;
   left: 7rem;
   z-index:1;
   bottom: 11rem;
  
  
}
.cardNumber{
    color:white;
    position: relative;
     letter-spacing: 0.3rem;
     font-size: 1.6rem;
     text-transform: uppercase;
     z-index: 1;
     left: 6rem;
     bottom: 3rem;
     
     
   
}
.align{
    display: flex;
    position: relative;
    left: 6rem;
    bottom: 4rem;
    gap: 12rem;
    z-index: 1;
}

.cardName{
    color: white;
    text-transform: uppercase;
   
    
}
.cardValidity{
    color:white;
    

}
.backCard{
    position: relative;
    left: 4rem;
    
}
.cardCvv{
    
   color: white;
   position: relative;
   bottom: 8.5rem;
   left: 30rem;
}


.gridThree{
   display: flex;
}
.year{
   
    margin-left: 1rem;  
}

.container{
    display: flex;
    justify-content: space-between;
}

input{
     width: 100%;
     margin-right: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid lightgray;
    cursor: pointer;
    font-weight: 500;
     
}
input:focus{
    border: 1px solid hsl(249, 99%, 64%) ;
}

.errorMessage{
    color:red;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    
}
label{
    color: hsl(278, 68%, 11%);
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}
::placeholder{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    
}
.cardNo{
    margin-top: 1rem;

}
 .thankYou{
    width: 100%; 
    padding: 1rem;
}
.thankYou{
    
    position: relative;
    text-align: center;
     display: none;      
}
.thankYou img{
    margin-bottom: 1rem;
    
}
.thankYou p{
    margin-top: 1rem ;
    margin-bottom: 2rem;
    color: hsl(279, 6%, 55%);
}
#continueButton{
    padding: 1rem;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    position: relative;
}
h1{
    color: hsl(278, 68%, 11%);
    font-size: 2.5rem;
}
#confirmButton{
    padding: 1rem;
    width: 100%;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;


}

.attribution {
     font-size: 11px; 
     text-align: center;
     margin-bottom: 1rem;
 }
.attribution a { 
    color: hsl(228, 45%, 44%);  
}


@media(max-width:750px){
.flex{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2, 1fr;
    align-items: center;
    gap: 2rem;
    
  
}
.containerOne{
    background-image: url(/images/bg-main-mobile.png);
    height:50vh;
    max-width: 100vw;
   
    
    
}
.frontCard{
   position: relative;
   top: -10rem;
    left: 5rem; 
   z-index: 1;
   max-width: 23rem;
   margin: 0 2rem;
   
    
    
    
}
.backCard{
   position: relative;
   top: -17.7rem;
   margin: 1.3rem auto;
   max-width: 23rem;
   left: 1.1rem;
   
}


.logo{
   
    position: absolute;
    top: 11rem;
    left: 2rem;


}
.cardName{
    color: white;
    position: relative;
    top: -11rem;
    left: -4rem;
}
.cardNumber{
    color: white;
    position: relative;
    top: -16rem;
    left: 1.5rem;
    font-size: 1.4rem;
}
.cardValidity{
    color: white;
    position: relative;
    top: -11rem;
    left: -7rem;
}
.cardCvv{
    color: white;
   top: -45.5rem;
   left: 24rem; 
     z-index: 1000; 
    position: relative;
}
form{
  
  position: relative;
  top:-32rem ;
    
}
.thankYou{
    position: relative;
    top: -35rem;
}
.attribution{
    position: relative;
    top: -32rem;
}

}