
*{
        box-sizing: border-box;
}


body{
    font-size: 1rem;
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "Space Grotesk";
    
}
@media(min-width:960px){


 .flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.main-container{
  
   background-image: url(/images/bg-main-desktop.png); 
  background-size: cover;
  min-height: 100vh;
   

}
 .frontCard{
   
    position: absolute;
    left: 10rem;
    top: 5rem;
    
} 
.logo{
    position: fixed;
   width: 4rem;
   left: 12rem;
   z-index:1;
   top: 5rem;
  
  
}
.cardNumber{
    color:white;
    position: absolute;
    top: 13rem;
    left: 12rem;
     letter-spacing: 0.3rem;
     font-size: 1.6rem;
     text-transform: uppercase;
     z-index: 1;
     
     
   
}
.gridOne input[type = 'text']{
    text-transform: capitalize;
    max-width: 30rem;
}
.gridTwo input[type = 'text']{
    text-transform: uppercase;
    max-width: 30rem;
}
.cardName{
    color: white;
    text-transform: uppercase;
    position: fixed;
    left: 12rem;
    top: 16rem;
    z-index: 1;
  
    z-index: 1;
}
.cardValidity{
    color:white;
    position: fixed;
    left: 30rem;
  top: 16rem;
    z-index: 1;
}
.backCard{
    position: relative;
    top: 11rem;
    left: 8rem;
    
}
.cardCvv{
    color:white;
    position: relative;
    left: 38rem;
    z-index: 1;
   top: 13.3rem;
    

}
form{
    margin-left: 10rem;
    position: relative;
    left: 10rem;
   margin-top: 10rem;

}


.gridThree{
   display: flex;
}
.month{
    width: 6.5rem;

}
.year{
    width: 6.5rem;
    margin-left: 1rem;  
}

.container{
    display: flex;
    justify-content: space-between;
}

input{
     width: 100%;
     margin-right: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid lightgray;
    cursor: pointer;
    font-weight: 500;
     
}
input:focus{
    border: 1px solid hsl(249, 99%, 64%) ;
}

.errorMessage{
    color:red;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    
}
label{
    color: hsl(278, 68%, 11%);
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}
::placeholder{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    
}
.cardNo{
    margin-top: 1rem;

}
.thankYou{
    margin: auto;
    position: relative;
    left: 17rem; 
    text-align: center;
     display: none;      
}
.thankYou img{
    margin-bottom: 1rem;
    
}
.thankYou p{
    margin-top: 1rem ;
    margin-bottom: 2rem;
    color: hsl(279, 6%, 55%);
}
#continueButton{
    padding: 1rem;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    width: 30rem;
}
h1{
    color: hsl(278, 68%, 11%);
    font-size: 2.5rem;
}
#confirmButton{
    padding: 1rem;
    width: 30rem;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;


}
}


.attribution {
     font-size: 11px; 
     text-align: center;
     margin-bottom: 1rem;
 }
.attribution a { 
    color: hsl(228, 45%, 44%);  
}

@media only screen and (max-width:960px){
    .flex{
        display: flex; 
        flex-direction: column;     
        overflow-x: hidden;
        overflow-y: hidden;
        
        
    }
     .main-container{
      background-image: url(/images/bg-main-mobile.png);
      background-size: cover;
      
    }  
     aside{
       margin-top: 10rem;
        max-width: 30rem; 
       padding: 0 2rem;
        margin: 8rem auto;
      
   
    }
    
     .backCard{
        max-width: 22rem;
        position: relative;
        top: 7.2rem;
        left: 3rem;
       
     
       
    } 
      .frontCard{
        max-width: 22rem;
        position: relative;
        top: 4rem;
        left: 1.2rem; 
       
    
    } 
     .cardCvv{
       position: relative;
      color: white;
       left: 23rem;
       bottom: 9.5rem;
       
    }

    .cardName{
        color:white;
        position: relative;
        top: 8rem;
        font-size: 0.9rem;
        z-index: 1;

    }
    .cardNumber{
        color: white;
        font-size: 1.5rem;
        position: relative;
        top:29rem; 
        left: 3rem;
        z-index: 1;
        letter-spacing: 0.2rem;
    }
    .cardValidity{
        color:white;
        margin-left: rem;
        position: relative;
        top: 7rem;
        z-index: 1;
        left: 16rem;
        font-size: 0.9rem;
    }
    .logo{
        z-index: 1;
        position: relative;
        left: rem;
        top: 2rem; 
        max-width: 4rem;
    }
    .two{
        margin-left: 0.5rem;
    } 
    
    .gridThree{
        display: flex;
     }
     .month{
         width: 6.5rem;
     
     }
     .year{
         width: 6.5rem;
         margin-left: 1rem;  
     }
     
     .container{
         display: flex;
         justify-content: space-between;
     }
     input{
        width: 100%;
        margin-right: 3rem;
       margin-top: 0.5rem;
       margin-bottom: 0.5rem;
       padding: 0.8rem;
       border-radius: 0.4rem;
       border: 1px solid lightgray;
       cursor: pointer;
       font-weight: 500;
        
   }
   input:focus{
       border: 1px solid hsl(249, 99%, 64%) ;
   }
   
   .errorMessage{
       color:red;
       font-size: 0.7rem;
       margin-bottom: 1rem;
       
   }
   label{
       color: hsl(278, 68%, 11%);
       font-size: 0.8rem;
       letter-spacing: 0.1rem;
       font-weight: 500;
   }
   ::placeholder{
       font-weight: 500;
       font-size: 1rem;
       letter-spacing: 0.1rem;
       
   }
   .cardNo{
       margin-top: 1rem;
   
   }
   .thankYou{
       margin: auto;
       position: relative;
      text-align: center;
        display: none; 
        top: 5rem;     
   }
   .thankYou img{
       margin-bottom: 1rem;
       
   }
   .thankYou p{
       margin-top: 1rem ;
       margin-bottom: 2rem;
       color: hsl(279, 6%, 55%);
   }
   .thankYou button{
       padding: 1rem;
       background-color: hsl(278, 68%, 11%);
       color: white;
       border-radius: 0.3rem;
       font-weight: 500;
       font-size: 1.2rem;
       cursor: pointer;
       width: 30rem;
       margin-bottom: 5rem;
   }
   h1{
       color: hsl(278, 68%, 11%);
       font-size: 2.5rem;
   }
   #confirmButton{
       padding: 1rem;
       width: 100%;
       background-color: hsl(278, 68%, 11%);
       color: white;
       border-radius: 0.3rem;
       font-weight: 500;
       font-size: 1.2rem;
       cursor: pointer;
   
   
   }
   }
   
     
